* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

header,
main,
footer {
  background-color: black;
}

.header-menu-container {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
}

/* MAIN */

.main-container {
  width: 100%;
  height: 80vh;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-container-col-10 {
  width: 10%;
}

.main-container-col-80 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.row-5 {
  width: calc(100% / 5);
  height: calc(100% / 5);
}

.zoom-window {
  display: flex;
  width: 100%;
  height: 100%;
  border: 5px solid red;
}

/* FOOTER MENU */

.footer-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 15vh;
  background-color: black;
}

.footer-menu {
  background-color: #212324;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50%;
  width: 100%;
}
